<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>POP ERP</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <th:block layout:fragment="css"></th:block>
  </head>
  <body>
    <!-- 1) 맨 위 전체 헤더 -->
    <div th:replace="fragments/header :: header"></div>

    <!-- 2) 헤더 아래: 사이드 + 컨텐츠 영역 -->
    <div class="layout-body">
      <!-- 왼쪽 사이드바 -->
      <div th:replace="fragments/side :: side"></div>

      <!-- 오른쪽 본문 -->
      <main class="layout-content">
        <div layout:fragment="content"></div>
        <!--        <div th:replace="~{${component} :: content}"></div>-->
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <th:block layout:fragment="script"></th:block>
  </body>
</html>
