<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<th:block layout:fragment="css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/sm/calendar.css}"/>
</th:block>

<th:block layout:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script defer th:src="@{/js/sm/calender.js}"></script>
</th:block>



<div layout:fragment="content">
<div id="calendar"></div>

    <div id="rentModal" class="rent-modal">
        <div class="rent-modal-content">
            <span class="rent-modal-close" id="rentModalClose">&times;</span>
            <h2 id="rentModalTitle"></h2>
            <div id="rentModalBody"></div>
        </div>
    </div>

</div>
</html>
